{% extends 'application_layout.html' %}

{% block title %}
  Panel de Administración | Préstamos y Reservas
{% endblock %}

{% block body %}
<div class="container">
<div class="row">
  {% include '_sidebar.html' %}
	<div class="col-md-10">
    <div class="row">

        {% include '_schedule_landing.html' %}

    </div>
    <div class="row">
      <div class="col-md-6 admin-table-container">
        <h1>Reservas Pendientes</h1>
        <form action="{% url 'modify_reservations' %}" method="post">
        {% csrf_token %}
        <table id="reservations-table" class="table table-striped">

          <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre del Espacio</th>
            <th scope="col">Usuario</th>
            <th scope="col">Fecha de Prestamo</th>
            <th scope="col"> Seleccionar</th>
          </tr>
          </thead>
          <tbody>

          {% for reservation in reservations_query %}
          <tr>
            <td>{{ reservation.id }}</td>
            <td>{{ reservation.space.name }}</td>
            <td>{{ reservation.user.get_full_name }}</td>
            <td>{{ reservation.starting_date_time|date:'d/m/Y H:i' }}</td>
            <td><input type="checkbox" name="selected" value="{{ reservation.id }}"></td>
          </tr>
          {% endfor %}

          </tbody>
        </table>
        <div class="row">
            <div class="col-6">
                <div class="btn-group" role="group" aria-label="Basic example" style="margin: 10px auto;">
                <button name="accept" value="1" type="submit" class="btn btn-secondary"> Aceptar Reservas</button>
                <button name="accept" value="0" type="submit" class="btn btn-secondary"> Rechazar Reservas</button>
                </div>
            </div>
        </div>
        </form>
      </div>


      <div class="col-md-6 admin-table-container">
          <div class="row">
              <div class="col">
                  <h1>
                      {% if loan_filter == 'pendientes' %}
                          Préstamos pendientes
                      {% elif loan_filter == 'activos' %}
                          Préstamos activos
                      {% elif loan_filter == 'caducados' %}
                          Préstamos caducados
                      {% elif loan_filter == 'perdidos' %}
                          Préstamos perdidos
                      {% elif loan_filter == 'entregados' %}
                          Préstamos entregados
                      {% endif %}
                  </h1>
              </div>
          </div>
      <div class="row">
          <div class="col">
              <form action="" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="date" value="{{ current_date }}">
                  <div class="btn-group" role="group" aria-label="Basic example" style="margin: 10px auto;">
                      <button name = "filter" value="activos" type="submit" class="btn btn-secondary">Activos</button>
                      <button name = "filter" value ="entregados" type="submit" class="btn btn-secondary">Entregados</button>
                      <button name = "filter" value="pendientes" type="submit" class="btn btn-secondary">Pendientes</button>
                      <button name = "filter" value="caducados" type="submit" class="btn btn-secondary">Caducados</button>
                      <button name = "filter" value ="perdidos" type="submit" class="btn btn-secondary">Perdidos</button>
                  </div>
              </form>
        </div>
      </div>
      <div class="row">
          <form method="post">
          {% csrf_token %}
              <table id="loans-table" class="table table-striped">
                  <thead>
                  <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Nombre del Espacio</th>
                      <th scope="col">Usuario</th>
                      <th scope="col">Fecha de Prestamo</th>
                      <th scope="col">Estado</th>
                      {% if loan_filter != 'entregados' and loan_filter != 'activos' %}
                          <th scope="col">Seleccionar</th>
                      {% endif %}
                  </tr>
                  </thead>
                  <tbody>
                  {% for loan in loans %}
                      <tr>
                          <td>{{ loan.id }}</td>
                          <td>{{ loan.article.name }}</td>
                          <td>{{ loan.user.get_full_name }}</td>
                          <td>{{ loan.starting_date_time|date:'d/m/Y H:i' }}</td>
                          <td>{{ loan.get_state_display }}</td>
                          {% if loan_filter != 'entregados' and loan_filter != 'activos' %}
                              <td><input type="checkbox" name="loan_selected" value="{{ loan.id }}"></td>
                          {% endif %}
                      </tr>
                  {% endfor %}
                  </tbody>
              </table>
          {% if loan_filter == 'pendientes' %}
              <div class="btn-group" role="group" aria-label="Basic example" style="margin: 10px auto;">
                  <button name="loan_action" value="aceptar" type="submit" class="btn btn-secondary">Aceptar préstamo</button>
                  <button name="loan_action" value="rechazar" type="submit" class="btn btn-secondary">Rechazar préstamo</button>
              </div>
              {% elif loan_filter == 'caducados' %}
              <div class="btn-group" role="group" aria-label="Basic example" style="margin: 10px auto;">
                  <button name="loan_action" value="entregado" type="submit" class="btn btn-secondary">Marcar entregado</button>
                  <button name="loan_action" value="perdido" type="submit" class="btn btn-secondary">Marcar perdido</button>
              </div>
              {% elif loan_filter == 'perdidos' %}
              <div class="btn-group" role="group" aria-label="Basic example" style="margin: 10px auto;">
                  <button name="loan_action" value="encontrado" type="submit" class="btn btn-secondary">Marcar encontrado</button>
              </div>
          {% endif %}
          </form>
      </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
