

{% extends 'application_layout.html' %}

{% load static %}

{% block title %}
 Editando espacio: {{ space.name }}
{% endblock %}

{% block body %}
    <div class="edit-container">

        <div class="col-md-4 offset-md-4 edit-flex-container edit-box">
            <h1 class="space-name">
              {{ space.name }}
            </h1>
            <h1>
            {% if space.state == "D" %}
                <span class="badge badge-pill badge-success"><i class="fas fa-chevron-left"></i> {{  space.get_state_display }}</span>
              {% elif space.state == "P" %}
                <span class="badge badge-pill badge-primary"><i class="fas fa-chevron-left"></i> {{  space.get_state_display }}</span>
              {% elif space.state == "L" %}
                <span class="badge badge-pill badge-danger"><i class="fas fa-chevron-left"></i> {{  space.get_state_display }}</span>
              {% elif space.state == "R" %}
                <span class="badge badge-pill badge-warning"><i class="fas fa-chevron-left"></i> {{  space.get_state_display }}</span>
              {% endif %}
           </h1>

            {% if space.image %}
                <img src= " {% static space.image.url %}" class="img-fluid" alt="Foto" style="height: 400px" />
            {% else %}
                <img class="card-img-top" src="{% static 'img/items/default_article.jpg' %}" alt="Card image cap">
            {% endif %}

            <div class="card">
                <div class="card-header" id="space-description-title">Descripción</div>
                    <div class="card-body">
                          <p class="card-text">{{ space.description }}</p>
                          <p class="card-text">Capacidad: {{ space.capacity }} personas</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 offset-md-4 edit-flex-container edit-box">
                <div class="edit-box-header">
                    <form action="edit_fields" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                        <label class="field-label" >Nombre del espacio</label>
                        <input class="form-control"  type="text" name="name" placeholder="Nuevo nombre del espacio">  </input>
                        </div>

                        <div class="form-group">
                        <label class="field-label" >Foto</label>
                        <input class="form-control" type="file" name="image">  </input>
                        </div>

                        <div class="form-group">
                        <label class="field-label" >Descripción</label>
                        <textarea class="form-control edit-textarea" type="text"
                                  name="description">{{ space.description }} </textarea>
                        </div>

                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                    </form>
                </div>

            </div>
    </div>
{% endblock %}