
{% extends 'application_layout.html' %}

{% load static %}

{% block title %}
  Ficha del espacio: {{ space.name }}
{% endblock %}


{% block body %}

  <div class="row">
    <div class="col-md-4 offset-1">

      <div class="row">
        <h1 class="space-name">
          {{ space.name }}
        {% if space.state == "D" %}
            <span class="badge badge-pill badge-success"><i class="fas fa-chevron-left"></i> {{  space.get_state_display }}</span>
          {% elif space.state == "P" %}
            <span class="badge badge-pill badge-primary"><i class="fas fa-chevron-left"></i> {{  space.get_state_display }}</span>
          {% elif space.state == "L" %}
            <span class="badge badge-pill badge-danger"><i class="fas fa-chevron-left"></i> {{  space.get_state_display }}</span>
          {% elif space.state == "R" %}
            <span class="badge badge-pill badge-warning"><i class="fas fa-chevron-left"></i> {{  space.get_state_display }}</span>
          {% endif %}
         </h1>
      </div>
        {% if space.image %}
            <img src= " {% static space.image.url %}" class="img-fluid" alt="Foto" style="height: 400px" />
        {% else %}
            <img class="card-img-top" src="{% static 'img/items/default_article.jpg' %}" alt="Card image cap">
        {% endif %}

      <div class="card">
        <div class="card-header" id="space-description-title">Descripción</div>
        <div class="card-body">
          <p class="card-text">{{ space.description }}</p>
          <p class="card-text">Capacidad: {{ space.capacity }} personas</p>
        </div>
      </div>
    </div>

    <div class = "col-md-5 offset-2">
        <div class = "row reservation-history-container">
          <h3 class="block-title"> Historial de reservas</h3>
            <div class="reservation-history">
                <ul>
                    {% for elemento in last_loans %}
                        <li>{{ elemento }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
    {% include '_schedule_landing.html' %}
    </div>

  </div>
</div>
{% endblock %}
