
{% extends 'application_layout.html' %}

{% load static %}

{% block title %}
  Ficha del espacio: {{ space.name }}
{% endblock %}


{% block body %}
<div class="i-container">

    <div class="i-box one">
        <div>
          <h3>{{ space.name }}

              <span class="space-name">
                    {% if space.state == "D" %}
                    <span class="badge badge-pill badge-success"><i class="fas fa-chevron-left"></i> {{  space.get_state_display }}</span>
                    {% elif space.state == "P" %}
                    <span class="badge badge-pill badge-primary"><i class="fas fa-chevron-left"></i> {{  space.get_state_display }}</span>
                    {% elif space.state == "L" %}
                    <span class="badge badge-pill badge-danger"><i class="fas fa-chevron-left"></i> {{  space.get_state_display }}</span>
                    {% elif space.state == "R" %}
                    <span class="badge badge-pill badge-warning"><i class="fas fa-chevron-left"></i> {{  space.get_state_display }}</span>
                    {% endif %}
              </span>
          </h3>
        </div>

        <div class="i-photo">
            {% if space.image %}
                <img src= " {% static space.image.url %}" class="img-fluid" alt="Foto" style="height: 400px" />
            {% else %}
                <img class="card-img-top" src="{% static 'img/items/default_article.jpg' %}" alt="Card image cap">
            {% endif %}
        </div>

        <div class="i-info">
        <div class="card">
            <div class="card-header" id="space-description-title">Descripción</div>
                <div class="card-body">
                      <textarea class="card-text i-description">{{ space.description }}</textarea>
                      <p class="card-text">Capacidad: {{ space.capacity }} personas</p>
                </div>
            </div>
        </div>
    </div>

    <div class="i-box ">

        <div class = "row reservation-history-container">
          <h3 class="block-title" style="margin-top: -40px "> Historial de reservas</h3>
            <div class="reservation-history" style="height: 250px">
                <ul>
                    {% for elemento in last_loans %}
                        <li><a href="{{ elemento.url }}">{{ elemento.content }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>


    <div class="container">
    {% include '_schedule_landing.html' %}
    </div>
</div>

{% endblock %}
