{% load static %}
<link href="{% static 'mainApp/scripts/fullcalendar.min.css'%}" rel='stylesheet' />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script type="text/javascript" src="{% static 'mainApp/scripts/lib/moment.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'mainApp/scripts/customCalendar.js'%}"></script>
    <script type="text/javascript" src="{% static 'mainApp/scripts/locale-all.js'%}"></script>
    <script>
  $(document).ready(function() {
    var LocalCode = 'es-do';
    $('#calendar').fullCalendar({
      header: {
        left: 'prevMonth, prev',
        center: 'title today',
          right: 'next, nextMonth'
      },
      locale: LocalCode,
      defaultView: 'agendaWeek',
      weekends: false,
      timezone: 'America/Santiago',
      minTime: '09:00:00',
      maxTime: '18:00:00',
      aspectRatio: 2.7,
      allDaySlot: false,
      editable: false,
      {% if request.get_full_path != "/admin/actions-panel/" %}
      selectable: true,
      selectHelper: true,
      select: function (start, end) {
          document.getElementById("startDate").value = start.format('YYYY-MM-DD HH:mm');
          document.getElementById("endDate").value = end.format('YYYY-MM-DD HH:mm');
          $('#createEventModal').modal('show');
      },
      {% endif %}
      events: [ {% for res in reservations %}
               {
              title: '{{ res.title }}',
              start: '{{ res.start }}',
              end: '{{ res.end }}',
              color: '{{ res.color }}'
            },
          {% endfor %}
      ],
     eventClick: function (event) {
            /*
          document.getElementById("startDate").value = event.start;
          document.getElementById("endDate").value = event.end;
          var p_space = document.getElementById("spaceP");
          var text = document.createTextNode(event.title)
          p_space.appendChild(text);
          alert('!');
          $('#fullCalModal').modal('show');*/
        },
    });
    $('input[class=boxEspacios]').on('click', function() {
         $(this).closest("form").submit();
    });
     $('a').on('click', function(e) {
         var id= $(this).attr('id');
         var tabla = document.getElementById("mostrar_"+id.toString());
         $(".filter").hide();
         tabla.setAttribute("style", "display:inline")
     });
      /*
      $('#reservation_form').submit(function(event){
            // We don't want this to act as a link so cancel the link action
            event.preventDefault();
            $.ajax({
               url : '/spaces/',
               type : "POST",
               data : {spaceid : $('#space').val(),  startDate : new Date($('#startDate').val()),
                   endDate : new Date($('#endDate').val()) }
            }).done(function(data){
                alert('!');
            });
            doSubmit();
          });
      */
      function doSubmit(){
          var title = "{{ user.get_full_name }}";
          var color = "blue";
          var sid = $('#spaceid').val();
          {% for s in spacesList %}
            if (sid == {{s.id}}){
                title = "{{ s.nombre }}" + " - " + title + " (pendiente)";
                color = "{{ s.colorP }}";
            }
          {% endfor %}
          var startDate = new Date($('#startDate').val());
          var endDate = new Date($('#endDate').val());
        $("#createEventModal").modal('hide');
        $("#calendar").fullCalendar('renderEvent',
            {

                title: title,
                start: startDate,
                end: endDate,
                color: color
            },
            true);
      }
  });

</script>
<body>
<div id="calendar"></div>
    <div style="text-align: center; margin-bottom: 50px">
        <form method="POST">
        {% for s in spacesList %}
            {% csrf_token %}
            <input style="margin-left: 20px" class="boxEspacios" type="checkbox" name="optcheck[]" value="{{ s.id }}" {% if s.id in spacesFilter %}checked="checked"{% endif %}> {{ s.nombre }}  <i class="fas fa-circle" style="color: {{ s.colorA }}"></i>
        {% endfor %}
        </form>
    </div></body>

<div id="createEventModal" class="modal fade">
<form method="POST" id="reservation_form">
    {% csrf_token %}
    <input type="hidden" id="ReservaForm" name="ReservaForm">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Nueva reserva</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">close</span></button>
            </div>

            <div id="modalBody" class="modal-body">
               <div class="form-group">
                    Espacio:
               {% if "/space/" not in request.get_full_path %}
                   <select name="spaceid" id="spaceid">
                       {% for s in spacesList %}
                           {% if s.id in spacesFilter %}
                            <option value={{s.id}}> {{ s.nombre }}</option>
                           {% endif %}
                       {% endfor %}
                   </select>
               {% endif %}
                {{ space.name }}
                </div>
                <div class="form-group form-inline">
                    Hora inicio:
                    <div class="input-group date" data-provide="datepicker">
                        <input type="text" name="startDate" id="startDate" class="form-control">
                    </div>
                </div>

                 <div class="form-group form-inline">
                     Hora término:
                    <div class="input-group date" data-provide="datepicker">
                        <input type="text" name="endDate" id="endDate" class="form-control">
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button type="submit" class="btn btn-primary" id="submitReserva">Reservar</button>
            </div>

        </div>
    </div>
</form>
</div>

<div id="fullCalModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Reserva</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">close</span></button>
            </div>

            <div id="modalBody" class="modal-body">
               <div class="form-group">
                   <p id="spaceP"></p>
                </div>
                <div class="form-group form-inline">
                    Hora inicio:
                    <div class="input-group date" data-provide="datepicker">
                        <input type="date" name="startDate" id="startDate" class="form-control">
                    </div>
                </div>

                 <div class="form-group form-inline">
                     Hora término:
                    <div class="input-group date" data-provide="datepicker">
                        <input type="date" name="endDate" id="endDate" class="form-control">
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
